*{
    margin: 0px;
    padding: 0px;
}



:root{
    --blue: #2196f3;
    --white: #ffffff;
    --fondo: #e7e9eb;
    --marco: #9acef8;
    --letra: #282a35;
} 



body{
    background-color: var(--fondo) !important;
    color: var(--letra) !important;
    font-family: "text";    
}
